tools/media/radarr/workflow.json
{
  "name": "radarr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "radarr",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "name": "Webhook",
      "webhookId": "radarr",
      "notes": "Radarr \u2014 movie library. Use for movies and films. Not for TV shows \u2014 use sonarr for TV shows.\n\nActions:\n  search \u2014 search for a movie in the library. Use for \"is Inception on Radarr\", \"search for The Matrix\".\n  calendar \u2014 upcoming movie releases. Use for \"any movies coming out\", \"new releases this month\".\n  library \u2014 list all movies in your library. Use for \"what movies do I have\", \"how many movies\".\n  history \u2014 recent download and import activity. Use for \"what was recently downloaded\", \"recent activity\".\n\n---schema\n{\n  \"action\": {\n    \"type\": \"string\",\n    \"description\": \"One of: calendar, search, library, history\",\n    \"required\": true\n  },\n  \"query\": {\n    \"type\": \"string\",\n    \"description\": \"Movie name, e.g. Interstellar, The Matrix. For: search\"\n  },\n  \"days\": {\n    \"type\": \"integer\",\n    \"description\": \"Calendar lookahead days. Default 30. For: calendar\"\n  },\n  \"limit\": {\n    \"type\": \"integer\",\n    \"description\": \"Max items to return. Default 20. For: library, history\"\n  }\n}",
      "id": "2a79d0c4-d5f4-4f9b-a977-2ab5b4154a45"
    },
    {
      "parameters": {
        "jsCode": "// Parse input and extract action + parameters\nlet data;\nconst input = $input.item.json;\n\nif (typeof input.body === 'string') {\n  data = JSON.parse(input.body);\n} else if (typeof input.body === 'object') {\n  data = input.body;\n} else {\n  data = input;\n}\n\nconst action = (data.action || '').toLowerCase();\nconst query = data.query || '';\nconst days = parseInt(data.days) || 30;\nconst limit = parseInt(data.limit) || 20;\n\n// For calendar, calculate date range\nconst start = new Date();\nstart.setHours(0, 0, 0, 0);\nconst end = new Date(start);\nend.setDate(end.getDate() + days);\n\nreturn [{\n  json: {\n    action: action,\n    query: query,\n    queryLower: query.toLowerCase(),\n    days: days,\n    limit: limit,\n    start: start.toISOString().split('T')[0],\n    end: end.toISOString().split('T')[0]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        0
      ],
      "name": "Parse Parameters",
      "id": "7d4cacdd-32c2-42c4-b0e3-047cb4593726"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "calendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "calendar"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "search"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "library",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "library"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": ""
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "history",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "history"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        16,
        0
      ],
      "name": "Switch Action",
      "id": "775edbc2-5b4a-4ef5-b398-d8d07c5037fb"
    },
    {
      "parameters": {
        "url": "=${RADARR_URL}/api/v3/calendar?start={{ $('Parse Parameters').item.json.start }}&end={{ $('Parse Parameters').item.json.end }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -100
      ],
      "name": "Get Calendar",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "f7168942-ecda-4ae3-a042-e63fc21d72b6"
    },
    {
      "parameters": {
        "url": "${RADARR_URL}/api/v3/movie",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        100
      ],
      "name": "Get All Movies",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "5ba781bf-dd83-4c23-8bec-2c89441fa8e9"
    },
    {
      "parameters": {
        "jsCode": "// Format calendar for voice\nconst movies = $input.all();\nconst days = $('Parse Parameters').item.json.days;\n\nif (movies.length === 0) {\n  return { message: `No movies scheduled in the next ${days} days.`, count: 0, movies: [] };\n}\n\nconst formatted = movies.map(item => {\n  const m = item.json;\n  // Radarr uses digitalRelease, physicalRelease, or inCinemas\n  const releaseDate = m.digitalRelease || m.physicalRelease || m.inCinemas;\n  const date = releaseDate ? new Date(releaseDate) : null;\n  const formattedDate = date ? date.toLocaleDateString('en-US', { weekday: 'long', month: 'short', day: 'numeric' }) : 'TBA';\n  \n  return {\n    title: m.title || 'Unknown Movie',\n    year: m.year,\n    releaseDate: formattedDate,\n    releaseDateRaw: releaseDate,\n    hasFile: m.hasFile || false,\n    monitored: m.monitored || false\n  };\n});\n\nformatted.sort((a, b) => {\n  if (!a.releaseDateRaw) return 1;\n  if (!b.releaseDateRaw) return -1;\n  return new Date(a.releaseDateRaw) - new Date(b.releaseDateRaw);\n});\n\nlet message = '';\nif (formatted.length === 1) {\n  const m = formatted[0];\n  message = `One movie coming: ${m.title} on ${m.releaseDate}.`;\n} else {\n  message = `${formatted.length} movies in the next ${days} days. `;\n  const titles = formatted.slice(0, 4).map(m => m.title);\n  message += titles.join(', ');\n  if (formatted.length > 4) message += `, and ${formatted.length - 4} more.`;\n}\n\nreturn { message, count: formatted.length, movies: formatted };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -200
      ],
      "name": "Format Calendar",
      "id": "f6462445-6f61-4b51-8461-2806bea4ff22"
    },
    {
      "parameters": {
        "jsCode": "// Filter and format results\nconst allMovies = $input.all();\nconst query = $('Parse Parameters').item.json.queryLower;\n\nconst matches = allMovies.filter(item => {\n  const title = (item.json.title || '').toLowerCase();\n  const originalTitle = (item.json.originalTitle || '').toLowerCase();\n  return title.includes(query) || originalTitle.includes(query);\n});\n\nif (matches.length === 0) {\n  return {\n    message: `No movies found matching \"${$('Parse Parameters').item.json.query}\".`,\n    found: false,\n    movies: []\n  };\n}\n\nconst movies = matches.map(item => {\n  const m = item.json;\n  const sizeGB = m.sizeOnDisk ? (m.sizeOnDisk / 1073741824).toFixed(1) : 0;\n  \n  return {\n    title: m.title,\n    year: m.year,\n    hasFile: m.hasFile || false,\n    sizeGB: parseFloat(sizeGB),\n    quality: m.movieFile?.quality?.quality?.name || 'N/A',\n    status: m.status,\n    monitored: m.monitored\n  };\n});\n\nlet message = '';\nif (movies.length === 1) {\n  const m = movies[0];\n  if (m.hasFile) {\n    message = `Yes, you have ${m.title} (${m.year}). ${m.quality}, ${m.sizeGB} GB.`;\n  } else if (m.monitored) {\n    message = `${m.title} (${m.year}) is in your library but not downloaded yet. It's being monitored.`;\n  } else {\n    message = `${m.title} (${m.year}) is in your library but not downloaded or monitored.`;\n  }\n} else {\n  const downloaded = movies.filter(m => m.hasFile).length;\n  message = `Found ${movies.length} movies matching your search. ${downloaded} downloaded. `;\n  const titles = movies.slice(0, 3).map(m => m.title);\n  message += titles.join(', ');\n  if (movies.length > 3) message += `, and ${movies.length - 3} more.`;\n}\n\nreturn { message, found: true, count: movies.length, movies };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "name": "Format Search",
      "id": "96c77c9f-c018-4f54-955d-68b6c3209b9a"
    },
    {
      "parameters": {
        "jsCode": "const errorData = $input.item.json;\nlet errorMsg = errorData.message || errorData.error || 'Unknown error';\nif (typeof errorMsg === 'object') {\n  errorMsg = errorMsg.message || JSON.stringify(errorMsg);\n}\nerrorMsg = String(errorMsg);\n\nif (errorMsg.includes('401') || errorMsg.includes('403') || errorMsg.includes('Unauthorized')) {\n  errorMsg = 'Radarr authentication failed. Check the API key in n8n.';\n} else if (errorMsg.includes('ECONNREFUSED') || errorMsg.includes('ETIMEDOUT')) {\n  errorMsg = 'Cannot connect to Radarr. Is it running?';\n} else if (errorMsg.includes('Credential')) {\n  errorMsg = 'Radarr credentials not found in n8n.';\n}\n\nreturn [{ json: { message: `Error with Radarr: ${errorMsg}`, error: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        200
      ],
      "name": "Format Error",
      "id": "0637e8e6-d330-4c41-862a-d6b4caba6ae2"
    },
    {
      "parameters": {
        "jsCode": "// Handle invalid action\nconst action = $input.item.json.action || 'unknown';\nreturn {\n  message: `Invalid action: \"${action}\". Use 'calendar', 'search', 'library', or 'history'.`,\n  error: true\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        400
      ],
      "name": "Invalid Action",
      "id": "26f4f719-b295-4334-8245-a2a13b1b7de1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        688,
        0
      ],
      "name": "Respond to Webhook",
      "id": "5dddcf92-3509-463e-862d-c9788133e404"
    },
    {
      "parameters": {
        "content": "## CAAL Registry Tracking\n**Tool Name:** radarr\n**Description:** Radarr \u2014 movie library. Use for movies and films. Not for TV shows \u2014 use sonarr for TV shows.\n**version:** v1.2.0\n**id:** 9fGeS8i9FH-7OHxAHAYB1A\n**link:** [Registry](https://github.com/CoreWorxLab/caal-tools/tree/main/tools/media/radarr)\n\n### (Do not delete this sticky)",
        "height": 260,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -288
      ],
      "typeVersion": 1,
      "id": "4188bfe4-586e-46b6-9a05-66718f392ed9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "${RADARR_URL}/api/v3/movie",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        500
      ],
      "name": "Get Library",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "radarr-lib-0001"
    },
    {
      "parameters": {
        "jsCode": "// Format library overview for voice\nconst allMovies = $input.all();\nconst limit = $('Parse Parameters').item.json.limit;\n\nconst total = allMovies.length;\nconst withFiles = allMovies.filter(item => item.json.hasFile).length;\nconst monitored = allMovies.filter(item => item.json.monitored).length;\n\n// Sort alphabetically and limit\nconst sorted = allMovies\n  .map(item => {\n    const m = item.json;\n    const sizeGB = m.sizeOnDisk ? (m.sizeOnDisk / 1073741824).toFixed(1) : 0;\n    return {\n      title: m.title || 'Unknown',\n      year: m.year,\n      quality: m.movieFile?.quality?.quality?.name || 'N/A',\n      has_file: m.hasFile || false,\n      monitored: m.monitored || false,\n      size_gb: parseFloat(sizeGB)\n    };\n  })\n  .sort((a, b) => a.title.localeCompare(b.title))\n  .slice(0, limit);\n\nlet message = `You have ${total} movies in your library. ${withFiles} have files, ${monitored} are monitored.`;\nif (sorted.length > 0) {\n  const preview = sorted.slice(0, 5).map(m => `${m.title} (${m.year})`).join(', ');\n  message += ` Including: ${preview}`;\n  if (total > 5) message += `, and more.`;\n}\n\nreturn { message, count: total, with_files: withFiles, monitored, movies: sorted };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        500
      ],
      "name": "Format Library",
      "id": "radarr-lib-0002"
    },
    {
      "parameters": {
        "url": "=${RADARR_URL}/api/v3/history?page=1&pageSize={{ $('Parse Parameters').item.json.limit }}&sortKey=date&sortDirection=descending&includeMovie=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "onError": "continueErrorOutput",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        700
      ],
      "name": "Get History",
      "credentials": {
        "httpHeaderAuth": {
          "id": null,
          "name": "${HTTPHEADERAUTH_CREDENTIAL}"
        }
      },
      "id": "radarr-hist-0001"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst limit = $('Parse Parameters').item.json.limit;\n\nconst eventTypeMap = {\n  'grabbed': 'Grabbed',\n  'downloadFolderImported': 'Imported',\n  'movieFileDeleted': 'Deleted',\n  'downloadFailed': 'Failed',\n  'movieFileRenamed': 'Renamed'\n};\n\nconst records = (input.records || []).slice(0, limit);\n\nif (records.length === 0) {\n  return [{ json: { message: 'No recent history found.', count: 0, history: [] } }];\n}\n\nconst history = records.map(r => {\n  const title = r.movie?.title || r.sourceTitle || 'Unknown';\n  const quality = r.quality?.quality?.name || 'Unknown';\n  const event = eventTypeMap[r.eventType] || r.eventType || 'Unknown';\n  const date = r.date ? new Date(r.date).toLocaleDateString('en-US', { month: 'short', day: 'numeric' }) : 'Unknown';\n  return { title, quality, event, date };\n});\n\nconst lines = history.slice(0, 5).map((h, i) => `${i + 1}. ${h.event} ${h.title} in ${h.quality}`);\nlet message = 'Recent activity: ' + lines.join('. ') + '.';\nif (history.length > 5) message += ` And ${history.length - 5} more.`;\n\nreturn [{ json: { message, count: history.length, history } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        700
      ],
      "name": "Format History",
      "id": "radarr-hist-0002"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Parameters": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Get Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get All Movies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Library",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar": {
      "main": [
        [
          {
            "node": "Format Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Movies": {
      "main": [
        [
          {
            "node": "Format Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Library": {
      "main": [
        [
          {
            "node": "Format Library",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get History": {
      "main": [
        [
          {
            "node": "Format History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Search": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Action": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Library": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format History": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}